/* Obsidian Cast Window Styles */

.markdown-rendered {
	padding: 20px;
}

/* Ensure images don't overflow the TV screen */
.markdown-rendered img {
	max-width: 100%;
	height: auto;
}

.is-casting {
	color: var(--text-accent);
}

.is-casting svg {
	color: var(--text-accent);
}
